{# Landing Complex #}
{% block content %}


{# 	{% set Builder = entry.complexContentBuilder %}
	

	<!-- Page Header  -->
	{% include '_components/headers' with {
		type: 'page-header--standard',
		Title: entry.pageTitle,
		classes: ''
		} 
	%}

	<section class="landing mb-lg simple-container --wide" data-module="accordion">
		
		<!-- Content Builder -->
		{% for block in Builder %}
			{% switch block.type %}
				
				<!-- Hero Slider -->
				{% case "heroSlider" %}
					{% include '_components/slider--hero' with {
							content: block.heroSlider,
							classes: 'm-auto max-w-2xl mb-8 -mt-6 px-6 sm:px-0 sm:mb-0 pt-4 sm:-mt-8'
						}
					%}
				
				{% default %}
				
			
			{% endswitch %}
			
		{% endfor %}

	</section>
 #}
{% endblock %}
