{% extends "_layouts/standard" %}

{% block content %}


{# Page Header #}
<header class="page-header bg-blue">
	<div class="md:max-w-2xl m-auto md:px-6 py-10 px-4">
		{# Landing Page Title: #}
		<h1 class="text-white font-medium md:text-3xl sm:text-xl text-lg">Server error</h1>
	</div>
</header>

<div class="m-auto md:w-3/5 w-full    sm:pt-10 sm:mb-10">

	{# Group #}
	<section class="group mb-lg">\
		<h4 class="text-blue text-2md mb-6 sm:text-lg md:w-4/5 m-auto">It looks like something is broken on this page.</h4>
		<div class="text-base text-grey-dark md:w-4/5 m-auto w-full leading-normal mb-10 sm:mb-18 sm:text-md">
			<p>Please retry what you are trying to do. If you continue to experience issues please <a href="{{'contact-us'}}">contact us</a> or return to <a href="{{url('/')}}">WEAT.org</a></p>
		</div>
	</section>

</div>

{% endblock %}
